<!doctype html>
<html lang="pt-br">
<style>
  body {
      background: url('<%= basePath %>/assets/unicamp-blur.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
</style>
<head>
  <meta charset="UTF-8">
  <title>Admin - Aprovar Comprovantes</title>

  <link href="<%= basePath %>/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="<%= basePath %>/bootstrap/js/bootstrap.bundle.min.js" rel="stylesheet"></script>

  <script src="<%= basePath %>/sweetalert/sweetalert2.min.js"></script>
  <link rel="stylesheet" href="<%= basePath %>/sweetalert/sweetalert2.min.css">
</head>
<script>
  function previewVoucher(id, contentType) {
    const container = document.getElementById('previewBody')
    container.innerHTML = ''
    
    if (contentType.includes('pdf')) {
      const iframe = document.createElement('iframe')
      iframe.src = `<%= basePath %>/admin/view/${id.toString()}`
      iframe.style.width = '100%'
      iframe.style.height = '80vh'
      iframe.style.border = 'none'
      container.appendChild(iframe)
    } else {
      const img = document.createElement('img')
      img.src = `<%= basePath %>/admin/view/${id.toString()}`
      img.className = 'img-fluid'
      container.appendChild(img)
    }

    const modal = new bootstrap.Modal(
      document.getElementById('previewModal')
    )
    modal.show()
  }
</script>

<body>
  <main class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow p-4 bg-white w-75">
      <a href="<%= basePath %>/admin" class="btn btn-link mt-3">Voltar ao painel</a>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Nome do Arquivo</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% pendingFiles.forEach(v => { %>
            <tr>
              <td><%= v.user.nome %></td>
              <td><%= v.user.cpf %></td>
              <td><%= v.filename %></td>
              <td class="d-flex gap-2">
                <a href="<%= basePath %>/download/<%= v._id %>" 
                class="btn btn-sm btn-outline-primary">
                Baixar
                </a>

                <button 
                class="btn btn-sm btn-outline-secondary"
                onclick="previewVoucher('<%= v._id %>', '<%= v.contentType %>')">
                Visualizar
                </button>

                <form action="<%= basePath %>/admin/approve?fileId=<%= v._id %>&userId=<%= v.user._id %>" method="post">
                  <button class="btn btn-sm btn-outline-success">
                    Aprovar
                  </button>
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <div class="modal fade" id="previewModal" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Visualizar comprovante</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body text-center" id="previewBody">
              <!-- conteúdo dinâmico -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

<% if (error) { %>
  <script>
      Swal.fire({
      icon: 'warning',
      title: 'Atenção',
      text: '<%= error %>'
      })
  </script>
<% } %>
</body>
</html>
